@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

/* my css - here only pages */
@import url("pages/_home.css");
@import url("components/_buttons.css");
@import url("components/_banner.css");
@import url("layout/_footer.css");

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, Helvetica, sans-serif;
}
