.button {
  background-color: #217cc2;
  display: inline-block;
  color: white;
  padding: 10px 15px;
  min-width: 100px;
  border-radius: 3px;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #0B71BF;
  opacity: 1;
  color: white;
  text-decoration: none;
}

.button:focus {
  background-color: #0B71BF;
  opacity: 1;
  color: white;
  text-decoration: none;
  outline: none;
}

.button:active {
  background-color: #0B71BF;
  opacity: 1;
  color: white;
  text-decoration: none;
}

.text-header .button {
  margin: 20px 0px;
  min-width: 200px;
  text-align: center;
}


.button-default {
  min-width: 80px;
  background-color: transparent;
  border: 1px solid #999999;
  color: #999999;
  padding: 10px 15px;
  border-radius: 3px;
  opacity: 0.6;
  transition: background 0.3s ease;
}


.button-default:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.btn-back {
  color: #353535;
  opacity: 0.6;
}

.btn-back:hover {
  text-decoration: none;
  color: #353535;
  opacity: 0.9;
}

