h2 {
  font-size: 45px;
  margin-bottom: 40px;
}

p {
  font-size: 18px;
}

.wrapper {
  min-height: calc(100vh - 100px);
  margin-top: 60px;
}

.iphone {
  height: 540px;
  margin: 0px;
  z-index: 100;
  position: absolute;
  left: 0px;
  top: 10px;
}

.card {
  position: absolute;
  height: 200px;
  left: 200px;
  bottom: 80px;
}

.img-header {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  padding-left: 50px;
  min-height: 540px;
}

.img-header .video-home {
  position: absolute;
  left: 98px;
  top: 110px;
  height: 340px;
  z-index: 120;
}

.text-header {
  margin: 100px 80px 100px 130px;
}

.text-header p {
  margin-bottom: 30px !important;
  font-size: 20px;
}

.second-part {
  min-height: 90vh;
  background-color: #f4f4f4;
  padding: 0px 50px;
}

.content2 {
  min-height: 500px;
  display: flex;
  align-items: center;
}

.content2 h1 {
  font-size: 60px;
  padding: 50px 20px;
}

.content2 p {
  padding: 50px 40px;
  font-size: 20px;
}

.marged {
  padding: 90px 20px;
}
.icons-part {
  height: 90vh;
}

.icons-part h2 {
  margin: 30px 0px;
  padding-top: 30px;
}

.icons-part p {
  color: #3a3a3a;
}

.space {
  padding: 0px 20px;
}

.icon {
  width: 120px;
  margin: 0px 0px 30px 0px;
}



