.payments {
  margin: 70px 0px;
  min-height: 100vh !important;
}

table {
  width: 100%;
}

tr {
  text-align: center;
}

th {
  text-align: center;
  padding: 7px 15px;
  font-size: 18px;
  font-weight: lighter;
}

.title {
  font-weight: bolder;
}

.payments h1 {
  margin-bottom: 35px;
  padding-top: 50px;
  font-size: 30px;
}

.request-list {
  position: relative;
}

.request-list {
  position: relative;
}

.position-abs-b {
  position: absolute;
  top: 0;
  left: 0;
}

.position-abs-u {
  position: absolute;
  bottom: -80px;
  right: 0;
}

.flex {
  display: flex;
}

.payments p {
  margin: -5px 10px;
}
